.section {
  background-color: white;
  width: 100%;
  min-height: 80vh;
  height: fit-content;
}

.shelf-head {
  font-size: 70px;
  color: black;
  font-family: "ntype82-mono";
  text-align: right;
  border-bottom: 3px solid black;
}

.element {
  width: 33.33%;
  padding-bottom: 24px;
}

.element .img-wrapper {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: 0.25s;

}

.element:hover img {
  filter:invert(75%);
  scale: 1.1;  
}


.desc {
  margin-top: 8px;
  color: black;
  width: 95%;
  font-family: "ntype82-mono";
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shelf {
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .shelf {
    flex-direction: column ;
  }

  .element {
    width: 100%;
  }
}