<div class="section flex col">
  <div class=" grid flex row center">
    <a class="element flex center col" href="https://momentum4agenda.vercel.app/">
      <div class="img-wrapper">
        <img src="/assets/covers/logo_m4u.svg" alt="">
      </div>
      <div class="desc">momentum4you</div>
    </a>
    <a class="element flex center col" href="https://yogurtcompany.vercel.app/">
      <div class="img-wrapper">
        <img src="/assets/covers/logo_yogurt.svg" alt="yogurt logo">
      </div>      
      <div class="desc">fancy f*ckin yogurt</div>
    </a>
    <a class="element flex center col" href="https://www.badnormals.com/">
      <div class="img-wrapper">
        <img src="/assets/man_walkin.gif" alt="">
      </div>
      <div class="desc">bad normals</div>
    </a>
  </div>
</div>
