@import url(./notashader.css);
/* span {
  font-weight: bold;
  font-size: 80px;
} */

.container-left,
.container-right {
  z-index: 99;
  width: 50%;
  height: 90%;
  /* border: 1px solid red; */
}

.container-left {
  float: left;
}

.container-right {
  float: right;
}

.header {
  height: 100%;
  align-items: flex-end;
}

img {
  width: 400px;
}

.section {
  padding: 0 7.5vw;
  width: calc(100% - 15vw);
  /* background-color: #171717; */
}

/* CUBE */

.wrapper {
  --cube-dim: 250px;

  position: relative;
  width: var(--cube-dim);
  height: var(--cube-dim);
  perspective: 750px;
}

.cube {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;

  animation: 6s rotate infinite linear;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;

  border: 5px solid white;
  border-radius: 10px;
}

.top {
  transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(calc(var(--cube-dim) / 2));
}

.bottom {
  transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(calc(var(--cube-dim) / 2));
}

.left {
  transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(calc(var(--cube-dim) / 2));
}

.right {
  transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(calc(var(--cube-dim) / 2));
}

.back {
  transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(calc(var(--cube-dim) / 2));
}

.front {
  transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg) translateZ(calc(var(--cube-dim) / 2));
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}


@media screen and (max-width: 750px) {
  .container-left {
    width: 100% !important;
    height: 40%;
    margin-bottom: 32px;
  }
  .container-right {
    width: 100% !important;
    height: 50%;
  }

  .wrapper {
    --cube-dim: 125px;
  }
  
  .section {
    height: 100%;
    flex-direction: column-reverse;
  }
}